<h1>Users <small><%= link_to 'Register', new_user_path %></small></h1>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user_path(user) do %>
        <%= user.email %>
      <% end %>
    </li>
  <% end %>
</ul>
